@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");


:root {
	--primary-color: #63dfdf;
	--background-color: #01121e;
	--text-color: #e2e8f0;
	--accent-color: #112240;
	--hover-color: #8892b0;
	--font-main: 'Inter', sans-serif;
}

.sidebar {

	justify-content: space-between;
	flex-direction: column;
	padding: 40px;
	left: 0;
	top: 0;
}

.sidebar .top .introduction {
	margin-bottom: 100px;
}

.sidebar h1 {
	font-size: 2.5em;
	color: var(--text-color);
	margin-bottom: 10px;
}



.sidebar nav ul li {
	margin: 15px 0;
}


.sidebar nav ul li a .line{
	height: 2px;
	width: 40px;
	background-color: #bbb;
	float: left;
	margin: 15px 10px;
	padding: 0px;
}

.sidebar nav ul li a.active {
	color: var(--text-color);
}

.sidebar nav ul li a.active .line{
	height: 2px;
	width: 60px;
	background-color: #bbb;
	float: left;
	margin: 10px 10px 15px;
	padding: 0px;
}

.main-content {
	padding: 80px 50px;
}

.section {
	margin-bottom: 80px;
	max-width: 750px;
}

.cta {
	display: inline-block;
	padding: 12px 24px;
	background-color: var(--primary-color);
	color: var(--background-color);
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1em;
	transition: 0.3s;
}

.cta:hover {
	background-color: var(--hover-color);
}

.social-media-list {
	align-items: center;
	display: flex;
	margin-top: 10px;
	list-style: none;
}

.social-media-list .item {
	font-size: 10px;
	margin-right: 15px;
}

body {
	position: relative;
	overflow-x: hidden;
}

#flashlight {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background: radial-gradient(circle 950px at var(--x) var(--y), #112240, rgba(0,0,0,.7));
	mix-blend-mode: lighten;
	z-index: 9999;
}